<ul class="sg-colors">
		<li>
		<span class="sg-swatch color-brand-primary"></span>
		<span class="sg-label">
			$color-brand-primary
		</span>
	</li>
	<li>
		<span class="sg-swatch color-brand-secondary"></span>
		<span class="sg-label">
			$color-brand-secondary
		</span>
	</li>
</ul>
