<ul class="sg-colors">
	<li>
		<span class="sg-swatch" style="background: #ffffff;"></span>
		<span class="sg-label">
            $color-white
        </span>
	</li>
	<li>
		<span class="sg-swatch color-gray-25"></span>
		<span class="sg-label">
			$color-gray-25
		</span>
	</li>
	<li>
		<span class="sg-swatch color-gray-30"></span>
		<span class="sg-label">
			$color-gray-30
		</span>
	</li>
	<li>
		<span class="sg-swatch color-gray-35"></span>
		<span class="sg-label">
			$color-gray-35
		</span>
	</li>
	<li>
		<span class="sg-swatch color-gray-50 "></span>
		<span class="sg-label">
			$color-gray-50
		</span>
	</li>
	<li>
		<span class="sg-swatch color-gray-65"></span>
		<span class="sg-label">
			$color-gray-65
		</span>
	</li>
	<li>
		<span class="sg-swatch color-gray-73"></span>
		<span class="sg-label">
			$color-gray-73
		</span>
	</li>
	<li>
		<span class="sg-swatch color-gray-87"></span>
		<span class="sg-label">
			$color-gray-87
		</span>
	</li>
	<li>
		<span class="sg-swatch color-black"></span>
		<span class="sg-label">
			$color-black
		</span>
	</li>
</ul>
