<div>Primary font: "Lato", sans-serif;</div>
<div><em>Primary font italic: "Lato", sans-serif;</em></div>
<div><strong>Primary font bold: "Lato", sans-serif;</strong></div>
<div class="font-secondary"><em>Secondary font italic: "HelveticaNeue", "Helvetica", "Arial", sans-serif;</em></div>
<div class="font-secondary"><strong>Secondary font bold; "HelveticaNeue", "Helvetica", "Arial", sans-serif;</strong></div>
