/*------------------------------------*\
    #LINKS
\*------------------------------------*/

/**
 * Links
 */
a {
	color: $color-digital-blue;
	text-decoration: none;
	outline: 0;
	transition: all $anim-speed-quick $anim-ease;

	&:hover, &:focus {
		color: $color-brand-secondary;//lighten($color-digital-blue, 10);
	}
}
