/*------------------------------------*\
    #BUTTONS

		https://medium.com/eightshapes-llc/buttons-in-design-systems-eac3acf7e23
\*------------------------------------*/

/**
 * Button
 */
.c-btn {
	display: inline-block;
	line-height: 1;
	padding: 0.8125rem 1rem 0.8125rem;
	border: 0;
	border-radius: $border-radius;
	text-align: center;
	transition: background 0.2s ease;
	box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 3px 1px -2px rgba(0, 0, 0, 0.2), 0 1px 5px 0 rgba(0, 0, 0, 0.12);
	font-weight: 500;

	&:hover, &:focus, &.hover-state {
		@include bg-color-darken-10($color-brand-secondary);
		color: $color-white;
		outline: none;
	}

	&:active, &.active-state {
		@include bg-color-darken-15($color-brand-secondary);
		box-shadow: 0 4px 5px 0 rgba(0, 0, 0, 0.14), 0 1px 10px 0 rgba(0, 0, 0, 0.12), 0 2px 4px -1px rgba(0, 0, 0, 0.2);
	}

	&.disabled, &.disabled-state {
		background: $color-gray-30;
		color: $color-gray-50;
		box-shadow: none;
	}
}

.c-btn--default {
	background: $color-gray-30;
	color: $color-gray-87;

	&:hover, &:focus, &.hover-state {
		color: $color-gray-87;
		background: $color-gray-35;
	}

	&:active, &.active-state {
		background: $color-gray-50;
	}

	&.disabled, &.disabled-state {
		background: $color-gray-30;
		color: $color-gray-50;
	}
}

.c-btn--primary {
	background: $color-brand-primary;
	color: $color-white;

	&:hover, &:focus, &.hover-state {
		@include bg-color-darken-10($color-brand-primary);
	}

	&:active, &.active-state {
		@include bg-color-darken-15($color-brand-primary);
	}

	&.disabled, &.disabled-state {
		background: $color-gray-30;
		color: $color-gray-50;
	}
}

.c-btn--secondary {
	background: $color-brand-secondary;
	color: $color-white;

	&:hover, &:focus, &.hover-state {
		@include bg-color-darken-10($color-brand-secondary);
	}

	&:active, &.active-state {
		@include bg-color-darken-15($color-brand-secondary);
	}

	&.disabled, &.disabled-state {
		background: $color-gray-30;
		color: $color-gray-50;
	}
}

.c-btn--link {
	background: none;
	box-shadow: none;
	border: none;
	color: $color-digital-blue;

	&:hover, &:focus, &.hover-state {
		color: $color-digital-blue;
		background: none;
		text-decoration: underline;
	}

	&:active, &.active-state {
		background: none;
		box-shadow: none;
		border: none;
		color: darken($color-digital-blue, 15%);
		text-decoration: none;
	}

	&.disabled, &.disabled-state {
		background: none;
		color: $color-gray-50;
	}
}

.c-btn--negative {
	background: $color-utility-negative;
	color: $color-white;

	&:hover, &:focus, &.hover-state {
		@include bg-color-darken-10($color-utility-negative);
	}

	&:active, &.active-state {
		@include bg-color-darken-15($color-utility-negative);
	}

	&.disabled, &.disabled-state {
		background: $color-gray-30;
		color: $color-gray-50;
	}
}

.c-btn--positive {
	background: $color-utility-positive;
	color: $color-white;

	&:hover, &:focus, &.hover-state {
		@include bg-color-darken-10($color-utility-positive);
	}

	&:active, &.active-state {
		@include bg-color-darken-15($color-utility-positive);
	}

	&.disabled, &.disabled-state {
		background: $color-gray-30;
	}
}

/**
 * Large button
 */
.c-btn-large {
	font-size: 1.4rem;
	padding: $pad-half $pad ;
	font-weight: normal;
}

/**
 * Block level button
 */
.c-btn--expand {
	padding-left: 0;
	padding-right: 0;
	width: 100%;
}

/**
 * Text button
 */
.c-text-btn {
	position: relative;
	background: none;
	border: none;
	font-style: normal;
	display: inline-block;
	line-height: 1;
	padding: 0.8125rem 1rem 0.625rem;
	border: 0;
	border-radius: $border-radius;
	text-align: center;
	transition: background 0.2s ease;
	font-weight: 500;
	color: $color-gray-87;

	&:hover, &:focus {
		background: $color-gray-30;
	}

	.c-block-media--small & {
		font-size: 1rem;
	}
}
.c-text-btn--primary {
	color: $color-brand-primary;
	&:hover, &:focus {
		color: $color-brand-primary;
	}
}
.c-text-btn--secondary {
	color: $color-brand-secondary;
	&:hover, &:focus {
		color: $color-brand-secondary;
	}
}
/**
 * Button on overlay
 */

 .c-btn--overlay {
	 background: $color-gray-35;
 }
