<div style="margin:10px;">
  <div class="alert-message alert-message--neutral">
  <!-- <svg class="alert-message__icon" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 38 38" aria-hidden="true">
    <title>Error</title>
  </svg> -->
  <div>
    Oh no, something went wrong.
    <!-- <a class="alert-message__action" href="#">Fix this error.</a> -->
  </div>
</div>
</div>
<div style="margin:10px;">
  <div class="alert-message alert-message--positive">
  <!-- <svg class="alert-message__icon" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 38 38" aria-hidden="true">
    <title>Error</title>
  </svg> -->
  <div>
    Oh no, something went wrong.
    <!-- <a class="alert-message__action" href="#">Fix this error.</a> -->
  </div>
</div>
</div>
<div style="margin:10px;">
  <div class="alert-message alert-message--caution">
  <!-- <svg class="alert-message__icon" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 38 38" aria-hidden="true">
    <title>Error</title>
  </svg> -->
  <div>
    Oh no, something went wrong.
    <!-- <a class="alert-message__action" href="#">Fix this error.</a> -->
  </div>
</div>
</div>
<div style="margin:10px;">
  <div class="alert-message alert-message--major">
    <!-- <svg class="alert-message__icon" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 38 38" aria-hidden="true">
      <title>Error</title>
    </svg> -->
    <div>
      Oh no, something went wrong.
      <!-- <a class="alert-message__action" href="#">Fix this error.</a> -->
    </div>
  </div>
</div>
<div style="margin:10px;">
  <div class="alert-message alert-message--negative">
    <!-- <svg class="alert-message__icon" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 38 38" aria-hidden="true">
      <title>Error</title>
    </svg> -->
    <div>
      Oh no, something went wrong.
      <!-- <a class="alert-message__action" href="#">Fix this error.</a> -->
    </div>
  </div>
</div>
