<div>
  Default<br/>
  <div class="alert-message alert-message--neutral">
      <i class="fa fa-info-circle" aria-hidden="true"></i>
      <div>
        Some nice info for you...
        <!-- <a class="alert-message__action" href="#">Fix this error.</a> -->
      </div>
    </div>
  </br>
  <div class="alert-message alert-message--positive">
    <i class="fa fa-check-circle" aria-hidden="true"></i>
    <div>
      Success! Great job!
      <!-- <a class="alert-message__action" href="#">Fix this error.</a> -->
    </div>
  </div>
  </br>
  <div class="alert-message alert-message--caution">
    <i class="fa fa-exclamation-circle" aria-hidden="true"></i>
    <div>
      Heads up!
      <!-- <a class="alert-message__action" href="#">Fix this error.</a> -->
    </div>
  </div>
  </br>
  <div class="alert-message alert-message--major">
    <i class="fa fa-exclamation-triangle" aria-hidden="true"></i>
    <div>
      Caution! You should read this...
      <!-- <a class="alert-message__action" href="#">Fix this error.</a> -->
    </div>
  </div>
  </br>
  <div class="alert-message alert-message--negative">
    <i class="fa fa-times-circle" aria-hidden="true"></i>
    <div>
      Oh no! Something went wrong.
      <!-- <a class="alert-message__action" href="#">Fix this error.</a> -->
    </div>
  </div>
</div>
<br/>


<div>
  Alternative<br/>
  <div class="alert-message alert-message-alt alert-message--neutral">
    <i class="fa fa-info-circle" aria-hidden="true"></i>
    <div>
      Some nice info for you...
      <!-- <a class="alert-message__action" href="#">Fix this error.</a> -->
    </div>
  </div>
  <br/>
  <div class="alert-message alert-message-alt alert-message--positive">
    <i class="fa fa-check-circle" aria-hidden="true"></i>
    <div>
      Success! Great job!
      <!-- <a class="alert-message__action" href="#">Fix this error.</a> -->
    </div>
  </div>
  <br />
  <div class="alert-message alert-message-alt alert-message--caution">
    <i class="fa fa-exclamation-circle" aria-hidden="true"></i>
    <div>
      Heads up!
      <!-- <a class="alert-message__action" href="#">Fix this error.</a> -->
    </div>
  </div>
  <br />
  <div class="alert-message alert-message-alt alert-message--major">
    <i class="fa fa-exclamation-triangle" aria-hidden="true"></i>
    <div>
      Caution! You should read this...
      <!-- <a class="alert-message__action" href="#">Fix this error.</a> -->
    </div>
  </div>
  <br/>
  <div class="alert-message alert-message-alt alert-message--negative">
    <i class="fa fa-times-circle" aria-hidden="true"></i>
    <div>
      Oh no! Something went wrong.
      <!-- <a class="alert-message__action" href="#">Fix this error.</a> -->
    </div>
  </div>
</div>
