<a href="{{ linkHref }}" class="c-text-btn {{ btnClass }}">Default</a>
<a href="{{ linkHref }}" class="c-text-btn c-text-btn--primary">Primary</a>
<a href="{{ linkHref }}" class="c-text-btn c-text-btn--secondary">Secondary</a>